body {
    margin: 0;
}

.right-border {
    border-right: 1px solid #ccc;
}
.header {
    height: 70px;
    width: 100%;
    background: #FF6B5D;
    box-shadow: 2px 3px 2px #ccc;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0px;
    left: 0px;
}

.header-link {
    padding: 0px 10px;
}

.header-link > a {
    color: #fff;
    text-decoration: none;
    margin: 0px 5px;
}

.header-link > a:hover {
    text-decoration: underline;
}


.nav-c1 {
    background: #FF6B5D;
}

.nav-item > a {
    color: #fff;
    font-family: fantasy;
}

.nav-item > a:hover {
    text-decoration-line: underline;
}

.footer {
    margin-top: 10px;
    color: #555;
}

.footer-header {
    color: #999;
}

.main-header {
    color: #FF6B5D;
}

.main-header-right {
    border: 1px solid #FF6D5B;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


