<!Doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Artiest Lipo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg nav-c1">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/artiest_logo_line.png') }}" height="30px"></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
            {% for link in main.links %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ link.link }}">{{ link.name }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </nav>
    <div class="body">
        {% block body %}
        {% endblock %}
    </div>
    <div class="container footer">
        <div class="row">
            <div class="col-md-4 right-border">
            </div>
            <div class="col-md-4 right-border"></div>
            <div class="col-md-4">
               <div class="row">
                   <div class="col-4">
                       <span class="footer-header">扫码加好友</span>
                   </div>
               </div>
               <div class="row d-flex flex-row justify-content-center">
                   <img src="/qrcode" width="50%"/>
               </div>
               <div class="row">
                   <div class="col-4">
                       <span class="footer-header">联系方式</span>
                   </div>
               </div>
               {% for contact in main.contact_infos %}
               <div class="row" style="margin-top:10px;">
                   <div class="col-4"><i class="fa fa-{{ contact.icon }}"></i>&nbsp;{{ contact.name }}</div>
                   <div class="col">{{ contact.value }}</div>
               </div>
               {% endfor %}
            </div>
        </div>
        <hr>
        <div class="d-flex flex-row justify-content-center" style="color:#aaa">
            Copyright &copy; {{ meta_data.site_data.time_range }} {{ meta_data.site_data.name }} {{ meta_data.site_data.url }} 
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
</body>
</html>
