{% extends "html/base.html" %}
{% import "html/function.html" as func %}
{% block body %}
<div class="container-fluid">
    <div class="row" style="padding: 50px 50px 10px 50px;">
        <div class="col">
            <h1>
                <span class="main-header">{{ main.content_section.title }}</span>
            </h1>
            {{ main.content_section.content|safe }}
        </div>
        <div class="col">
            <div class="main-header-right">
                <div style="text-align:center;color:#FF6D5B"><h1>Be The Best Dev Of Python</h1></div>
            </div>
        </div>
    </div>
    <div class="row">
       <div class="col-md-4 col-sm-12 pad-50">
           <div class="d-flex flex-row justify-content-center">
               <i class="fa fa-{{main.icon_section[0].icon}} fa-5x"></i>
           </div>
           <div class="title-center">{{ main.icon_section[0].title }}</div>
           <div>{{ main.icon_section[0].content }}</div>
       </div>
       <div class="col-md-4 col-sm-12 pad-50">
           <div class="d-flex flex-row justify-content-center">
               <i class="fa fa-{{main.icon_section[1].icon}} fa-5x"></i>
           </div>
           <div class="title-center">{{ main.icon_section[1].title }}</div>
           <div>{{ main.icon_section[1].content }}</div>
       </div>
       <div class="col-md-4 col-sm-12 pad-50">
           <div class="d-flex flex-row justify-content-center">
               <i class="fa fa-{{main.icon_section[2].icon}} fa-5x"></i>
           </div>
           <div class="title-center">{{ main.icon_section[2].title }}</div>
           <div>{{ main.icon_section[2].content }}</div>
       </div>
    </div>
</div>
{% endblock %}
